.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.orbitron-uniquifier {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Corps de la page */
body,
html {
margin: 0;
padding: 0;
height: 100%;
font-family: "Titillium Web";
}

/* Le loader */
#loader {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-image: url("dark-headlight-bmw-laptop-4p6x5no7afj3xcc9-4084294628.jpg");
background-size: cover; /* L'image prend toute la taille de l'écran */
background-position: center;
display: flex;
align-items: center;
justify-content: center;
opacity: 1;
transition: opacity 2s ease-out; /* Transition du fade-out en 2 secondes */
}

/* Le texte de bienvenue */
.message {
position: fixed;
top: 35%;
font-size: 250%;
color: rgb(255, 255, 255);
font-weight: bold;
opacity: 60%;
}

/* Fade-out après 2 secondes */
#loader.fade-out {
opacity: 0;
visibility: hidden;
}

/* L'effet de fade automatique au bout de 2 secondes */
@keyframes fadeOut {
0% {
  opacity: 1;
}
100% {
  opacity: 0;
}
}

/* Appliquer le fade-out après 2 secondes */
#loader {
animation: fadeOut 2s forwards;
animation-delay: 2s; /* Délai avant le début du fade-out */
}

body {
color: white;
background-color: rgb(0, 0, 0);
font-size: 25px;

}

/* Styles du header */
.header {
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 5%;
border-bottom: 1px rgb(61, 65, 255) solid;
}


.titre {
font-size: 40px;
font-weight: 300;
}

.bleu {
color: rgb(0, 34, 255);
font-weight: 700;
font-family: "Orbitron";
}

.navigation {
display: flex;
gap: 1em;
}

nav button {
background-color: rgb(0, 0, 0);
padding: 8px 10px;
border: 1px solid #ffffff;
border-radius: 10px;
font-family: "Titillium Web";
font-weight: 600;
font-size:medium;
color: white;
}

.acceuil{
border-bottom: 3px rgb(255, 255, 255) solid;
}

/* Conteneur de la boîte de voitures */
.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles des sections M5 et Série 4 */
.M5, .Serie_4 {
  text-align: center;
  background-color: rgba(37, 37, 37, 0.7);
  border: 1px solid #252525;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(37, 37, 37, 0.7);
}

.M5 h2, .Serie_4 h2 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.M5 img, .Serie_4 img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}

.M5 p, .Serie_4 p {
  font-size: 1rem;
  color: #ffffff;
}
