/* Style global */
body,
html {
    height: 100%;
    margin: 0;
    font-family: "Rajdhani", sans-serif;
    color: white;
    background-color: black;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeIn 1s ease-in-out;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeOutLoader 1s ease-in-out forwards;
}

@keyframes fadeOutLoader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader {
    position: relative;
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid rgba(0, 102, 255, 0.1);
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #0066ff;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #0066ff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.loader::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #0066ff;
    border-right: 3px solid #0066ff;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

.loader span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid rgb(61, 65, 255);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.titre {
    text-decoration: none;
    color: #5078FF;
    font-weight: 700;
    font-family: "Audiowide", sans-serif;
    text-shadow:
        0 0 5px #3C4E99,
        0 0 15px #5078FF,
        0 0 30px #85AFFF;
}

@keyframes neon-glow {
    0%, 100% {
        text-shadow: 
            0 0 5px #5078FF, 
            0 0 15px #85AFFF, 
            0 0 25px #5078FF;
    }
    50% {
        text-shadow: 
            0 0 10px #85AFFF, 
            0 0 25px #5078FF, 
            0 0 50px #85AFFF;
    }
}

.navigation a {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    color: white;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-weight: 600;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.navigation a:hover {
    text-shadow: 
        0 0 5px #5078FF, 
        0 0 10px #85AFFF, 
        0 0 15px #5078FF;
    color: #85AFFF;
    border-bottom: 2px solid #5078FF;
}

.navigation a.active {
    text-shadow: 
        0 0 5px #5078FF, 
        0 0 15px #85AFFF;
    color: #85AFFF;
    border-bottom: 2px solid #5078FF;
}

.utilisateur a {
    padding: 10px 15px;
    margin-inline-start: 10px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgba(80, 120, 255, 0.1);
    color: #5078FF;
    border: 2px solid #3C4E99;
    box-shadow: 
        0 0 5px #3C4E99,
        0 0 15px #5078FF;
    transition: all 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.utilisateur a:hover {
    color: #85AFFF;
    border-color: #5078FF;
    box-shadow: 
        0 0 10px #3C4E99, 
        0 0 20px #5078FF, 
        0 0 30px #85AFFF;
    transform: scale(1.1);
}

video {
    width: 100%;
    height: 460px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.text {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.text h2 {
    font-size: 30px;
    margin-bottom: 15px;
    font-family: 'Audiowide', sans-serif;
}

.text p {
    font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
    font-family: 'Rajdhani', sans-serif;
}

.pub {
    position: absolute;
    top: 87%;
    right: 1%;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.pub p {
    font-size: 18px;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: small;
    font-family: 'Rajdhani', sans-serif;
}

footer i {
    padding: 8px 8px;
}

@media screen and (max-width: 768px) {
    .titre {
        font-size: 20px; /* Réduction de la taille du titre */
        padding: 0 0;
    }

    .navigation a {
        font-size: 12px; /* Réduction des liens */
    }

    .utilisateur a {
        font-size: 12px; /* Réduction des boutons */
    }
    
    body {
        font-size: 20px; /* Réduit légèrement la taille globale */
    }

    header h1 {
        font-size: 1.8em;
    }

    section h2 {
        font-size: 1.6em;
    }

    footer p {
        font-size: 0.9em;
    }

    .pub {
        top: 80%;
        right: 1%;
    }
}

@media screen and (max-width: 480px) {
    .header {
        display: flex;
        flex-direction: column; /* Réorganise en colonne */
        align-items: center; /* Centre les éléments horizontalement */
        gap: 20px; /* Ajoute de l'espace entre les sections */
    }

    body {
        font-size: 18px; /* Encore plus petit pour mobiles */
    }

    header h1 {
        font-size: 1.5em;
    }

    section h2 {
        font-size: 1.2em;
    }

    .navigation a {
        font-size: 12px;
    }

    .utilisateur a {
        font-size: 12px;
    }

    footer p {
        font-size: 0.8em;
    }

    .pub {
        top: 80%;
        right: 1%;
    }
}
